<div id="<%= dom_id bug %>">
  <p>
    <strong>Title:</strong>
    <%= bug.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= bug.description %>
  </p>

   <p>
    <strong>Created by:</strong>
    
    <%= bug.qa %>
  </p>
</div>
